.container {
    margin: 0 auto;
    max-width: 1120px;
    text-align: center;
}

.wrapper {
    padding: 4rem;
}

.exchange__form {
    display: flex;
    flex-direction: column;
}

.exchange__form input {
    width: 17.438rem;
    height: 2.25rem;
    border-radius: 8px;
    padding: .5rem 1rem;
    border: 1px solid #F0ECEC;
    margin: 1rem auto;
}

exchange__form select {
    padding: 1rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.exchange__form button {
    border-radius: 8px;
    background-color: #196FB1;
    color: #fff;
    border: none;
    width: 15rem;
    height: 2.875rem;
    font-size: var(--primary-font-size);
    cursor: pointer;
    margin: 1rem auto;
}

.exchange__form button:hover{
    transition: .3s ease-in-out;
    background-color: #135181;
}

.btn-selected {
    background-color: #196FB1;
    color: #fff;
    border: none;
    padding: .06rem .12rem;
    border-radius: 8px;
    margin-left: 1rem;
    cursor: pointer;
}

.coins__container {
    margin-top: 6rem;
}

.select-form {
    width: 17.438rem;
    height: 2.25rem;
    border-radius: 8px;
    padding: .5rem 1rem;
    border: 1px solid #F0ECEC;
    margin: 1rem auto;
    cursor: pointer;
    color: rgb(150, 149, 149);
}

.select-form:hover{
    outline: none ;
    border: 1px solid #a7a7a7;
}

.coin__selected {
    margin-top: 1rem;
}

.buy {
    width: 100%;
    height: 3.5rem;
    background-color: #196FB1;
    color: #fff;
    font-size: 1.125em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation-name: message;
    animation-duration: 3s;
    animation-direction: reverse;
}

.sell {
    width: 100%;
    height: 3.5rem;
    background-color: #F68140;
    color: #fff;
    font-size: 1.125em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation-name: message;
    animation-duration: 3s;
    animation-direction: reverse;
}

@keyframes message {
    from {opacity: 0}
    to {opacity: 1}
  }
