:root{
    --primary-font-size: 1.125em;
}

.login__container {
    width: 440px;
    margin: 20vh auto;
}

.login__wrapper {
    padding: 2rem;
}

.login__wrapper__form {
    display: flex;
    flex-direction: column;
}

.login__wrapper__form label{
    font-weight: bold;
    margin-top: 8px;
    font-size: var(--primary-font-size);
}

.login__wrapper__form input {
    width: 20rem;
    height: 2.5rem;
    border-radius: 8px;
    margin-top: 12px;
    border: 1px solid #F0ECEC;
    padding: .5rem 1rem;
}


.button-container{
    width: 20rem;
    text-align: center;
    margin-top: 2.5rem
}


.login__wrapper__form button {
    border-radius: 8px;
    background-color: #196FB1;
    color: #fff;
    border: none;
    width: 15rem;
    height: 2.875rem;
    font-size: var(--primary-font-size);
    cursor: pointer;
}

.login__wrapper__form button:hover {
    background-color: #125385;
    transition: .3s ease-in-out;
}

.password__container{
    display: flex;
    justify-content: space-between;
    width: 20rem;
}

.forgot-password {
    align-self: flex-end;
}

.forgot-password-link {
    color: #2562FF
}
